<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"></link>
	<link rel="shortcut icon" href="./images/farv.ico">
	<link rel="stylesheet" href="./css/main.css"></link>
	<link rel="stylesheet" href="./css/profile.css"></link>
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Logo -->
		<a class="navbar-brand" href="./index.html">WEconnect</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar" align="center">
			<ul class="navbar-nav navbar-left">
				<li class="nav-item"><a class="nav-link" href="./index.html">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="./register.html">Register Business</a></li>
			</ul>
			<ul class="navbar-nav navbar-right">
				<!-- Links Use this when user signed in
		<li class="nav-item"><a class="nav-link" href="./signin.html"><span class="fa fa-user-circle"></span> Sign In</a></li> -->
				<li class="nav-item"><a class="nav-link" href="./signin.html">Sign In</a></li>
				<li class="nav-item"><a class="nav-link" href="./signup.html"><span class="fa fa-user-plus"></span> Sign Up</a></li>
			</ul>
		</div>
	</nav>
	<!-- main content  -->
	<div class="container-fluid">
		<div class="row">
			<!-- profile -->
			<div class="item col-md-4">
				<div class="profile">
					<div class="tab tab-profile">
					<!--Others users should see this -->
						<div class="text-center">
								<h5>Profile</h5>
						</div>
						<!--
						Business Owner should see this -->
						<ul class="nav nav-tabs">
							<li class="nav-item">
								<a class="nav-link" href="#">Edit Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Remove Business</a>
							</li>
						</ul>
					<!-- -->
				  </div>

					<div class="basic-info">
						<div class="business-logo">
							<img class="bus-logo" src="https://via.placeholder.com/50x50" alt="logo" />
						</div>
						<div class="business-body">
							<span class="business-name">Company Name</span>
							<p class="details">
								<span class="address">
								 01 abc street, New York city
							</span><br>
								<span class="phone">
								+234-567-890-12
							</span><br>
								<span class="email">
								contact@company.com
							</span><br>
							</p>
						</div>
					</div>
					<hr>

					<div class="about text-center">
						<h5 class="about-heading">About</h5>
						<p class="about-text">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
					<hr>

					<div class="categories">
						<h5 class="text-center">Categories</h5>
						<div class="grid grid-cat text-center">
							<div class="cat-item">Technology</div>
							<div class="cat-item">Education</div>
							<div class="cat-item">Information</div>
							<div class="cat-item">Design</div>
						</div>
					</div>
					<hr>

					<div class="user-rating text-center">
						<span class="heading">User Rating</span>
						<span class="far fa-star fa"></span>
						<span class="far fa-star fa"></span>
						<span class="far fa-star fa"></span>
						<span class="far fa-star fa"></span>
						<span class="far fa-star"></span>
						<p class="rating-report">4.1 average based on 254 reviews.</p>

						<div class="rating-bar">

							<!-- 5 star -->
							<div class="side">
								<div>5 star</div>
							</div>
							<div class="middle">
								<div class="bar-container">
									<div class="bar-5"></div>
								</div>
							</div>
							<div class="side right">
								<div>150</div>
							</div>

							<!-- 4 Star -->
							<div class="side">
								<div>4 star</div>
							</div>
							<div class="middle">
								<div class="bar-container">
									<div class="bar-4"></div>
								</div>
							</div>
							<div class="side right">
								<div>63</div>
							</div>


							<!-- 3 Star -->
							<div class="side">
								<div>3 star</div>
							</div>
							<div class="middle">
								<div class="bar-container">
									<div class="bar-3"></div>
								</div>
							</div>
							<div class="side right">
								<div>15</div>
							</div>

							<!-- 2 Star -->
							<div class="side">
								<div>2 star</div>
							</div>
							<div class="middle">
								<div class="bar-container">
									<div class="bar-2"></div>
								</div>
							</div>
							<div class="side right">
								<div>6</div>
							</div>

							<!--1 Star -->
							<div class="side">
								<div>1 star</div>
							</div>
							<div class="middle">
								<div class="bar-container">
									<div class="bar-1"></div>
								</div>
							</div>
							<div class="side right">
								<div>20</div>
							</div>

						</div>

					</div>

				</div>
			</div>
			<!-- reviews -->
			<div class="item col-md-5">
				<div class="rev">

					<div class="tab tab-profile">
							<div class="text-center">
								<h5>Reviews</h5>
							</div>
					</div>

					<div class="add-review">
						<div>
							<img class="user-img" src="http://via.placeholder.com/100x100" alt="user" style="width:100%;">
						</div>
						<div>
							<span>Simbi Lami</span>
							<div class="add-rating">
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
								<span class="far fa-star"></span>
							</div>
							<form>
								<textarea class="comment-box"></textarea>
								<input class="btn btn-primary" type="submit"  value="Comment">
							</form>
						</div>
					</div>

					<div class="grid review">
						<div>
							<img class="user-img" src="http://via.placeholder.com/100x100" alt="Avatar" style="width:100%;">
						</div>
						<div class="review-body">
							<span>Adamu Coker</span>
							<div class="review-rating">
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
							</div>
							<div class="review-date">
								<span class="time">11:05</span><br>
							</div>
							<div class="review-comment">
								<p>Nah, I dunno. Play soccer.. or learn more coding or learn more coding or learn more coding or learn more coding perhaps perhaps?</p>
							</div>
						</div>
					</div>

					<div class="grid review">
						<div>
							<img class="user-img" src="http://via.placeholder.com/100x100" alt="Avatar" style="width:100%;">
						</div>
						<div class="review-body">
							<span>Adamu Coker</span>
							<div class="review-rating">
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
							</div>
							<div class="review-date">
								<span class="time">11:05</span><br>
							</div>
							<div class="review-comment">
								<p>Nah, I dunno. Play soccer.. or learn more coding or learn more coding or learn more coding or learn more coding perhaps perhaps?</p>
							</div>
						</div>
					</div>

					<div class="grid review">
						<div>
							<img class="user-img" src="http://via.placeholder.com/100x100" alt="Avatar" style="width:100%;">
						</div>
						<div class="review-body">
							<span>Adamu Coker</span>
							<div class="review-rating">
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star fa"></span>
								<span class="far fa-star"></span>
							</div>
							<div class="review-date">
								<span class="time">11:05</span><br>
							</div>
							<div class="review-comment">
								<p>Nah, I dunno. Play soccer.. or learn more coding or learn more coding or learn more coding or learn more coding perhaps perhaps?</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- similar business -->
			<div class="item col-md-3">
				<div class="similar" align="center">

					<div class="tab tab-profile">
							<div class="nav-item text-center">
								<h5>Similar Business</h5>
							</div>
					</div>

					<a href="./profile.html" class="remove-link-style">
						<div class="business-card">
							<div class="business-logo">
								<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
							</div>

								<div class="business-body">
									<span class="business-name">Business Name</span><br>
									<div class="user-rating">
										<span class="far fa-star fa"></span>
										<span class="far fa-star fa"></span>
										<span class="far fa-star fa"></span>
										<span class="far fa-star fa"></span>
										<span class="far fa-star"></span>
										<p class="rating-report">4.1 average based on 254 reviews.</p>
									</div>
								</div>
						</div>
					</a>

					<a href="./profile.html" class="remove-link-style">
						<div class="business-card">
							<div class="business-logo">
								<img class="bus-logo" src="https://via.placeholder.com/80x80" alt="logo" />
							</div>
								<div class="business-body">
									<span class="business-name">Business Name</span><br>
									<div class="user-rating">
										<span class="far fa-star fa"></span>
										<span class="far fa-star fa"></span>
										<span class="far fa-star fa"></span>
										<span class="far fa-star fa"></span>
										<span class="far fa-star"></span>
										<p class="rating-report">4.1 average based on 254 reviews.</p>
									</div>
								</div>
						</div>
					</a>
				</div>
			</div>

		</div>
	</div>

	<!-- Footer -->
	<footer class="bg-dark navbar-dark">
		<div class="container-fluid text-center">
			WEconnect &copy; 2018.
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</script>
</body>

</html>
