<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"></link>
	<link rel="shortcut icon" href="./images/fav.ico">
	<link rel="stylesheet" href="./css/main.css"></link>
	 <link rel="stylesheet" href="./css/register.css"></link>
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
		<!-- Logo -->
		<a class="navbar-brand" href="./index.html">WEconnect</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		  <span class="navbar-toggler-icon"></span>
	  </button>
		<!-- Links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar" align="center">
			<ul class="navbar-nav navbar-left">
				<li class="nav-item"><a class="nav-link" href="./index.html">Home</a></li>
				<li class="nav-item"><a class="nav-link active" href="#">Register Business</a></li>
			</ul>
			<ul class="navbar-nav navbar-right">
				<!-- Links Use this when user signed in
		<li class="nav-item"><a class="nav-link" href="./signin.html"><span class="fa fa-user-circle"></span> Sign In</a></li> -->
				<li class="nav-item"><a class="nav-link" href="./signin.html">Sign In</a></li>
				<li class="nav-item"><a class="nav-link" href="./signup.html"><span class="fa fa-user-plus"></span> Sign Up</a></li>
			</ul>
		</div>
	</nav>
	<!-- Registration form -->
	<section id="reg-form">
		<div class="container">
			<form action="/action.js"  enctype="multipart/form-data">
                <h3>Register your business</h3>
                <span class="small red">* required</span>
				<fieldset>
					<legend>Business Info:</legend>
					<div class="form-group">
						<label for="businessname">Business Name: <span class="red">*</span></label>
						<input type="text" class="form-control" id="businessname" placeholder="business name" name="businessname" required>
					</div>
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="email" class="form-control" id="email" placeholder="contact@company.com" name="email">
					</div>
					<div class="form-group">
						<label for="categories">Add Categories <sapn class="red small">(at least one)</sapn>:<span class="red"> *</span></label>
						<select class="form-control" id="sel1" required>
							<option>Technology</option>
							<option>Fashion</option>
							<option>Consumer Goods</option>
							<option>Entertainment</option>
						</select>
						<textarea class="form-control" rows="5" id="comment" placeholder="Your choices will show here" readonly></textarea>
					</div>
					<div class="form-group">
						<label for="bio">Brief Bio:</label>
						<textarea class="form-control" rows="5" id="comment"></textarea>
					</div>
				</fieldset>

				<fieldset>
					<legend>Contact Info:</legend>
					<div class="form-group">
						<label>Address: <span class="red">*</span></label>
						<input type="text" class="form-control" id="address" placeholder="street address" name="address" required>
					</div>
					<div class="form-group">
						<label>Country: <span class="red">*</span></label>
						<select class="form-control" id="sel1" required>
							<option>Nigeria</option>
							<option>Uganda</option>
							<option>Kenya</option>
							<option>Ghana</option>
						</select>
					</div>
					<div class="form-group">
						<label>State:</label>
						<select class="form-control" id="sel1">
							<option>Abuja</option>
							<option>Lagos</option>
							<option>Adamawa</option>
							<option>Ondo</option>
						</select>
					</div>
					<div class="form-group">
						<label>City:</label>
						<select class="form-control" id="sel1">
							<option>Lokoja</option>
							<option>Ikeja</option>
							<option>Yola</option>
							<option>Akure</option>
						</select>
					</div>
					<div class="form-group">
						<label for="zipcode">Zip code:</label>
						<input type="number" class="form-control" id="email" name="zipcode">
					</div>
					<div class="form-group">
						<label for="telephone">TelePhone No: </label>
						<input type="number" class="form-control" id="telephone" name="telephone">
					</div>
				</fieldset>

				<fieldset>
					<legend>Business Logo:</legend>
					<div class="form-group">
						<label>Upload Business Logo <span class="red">*</span></label>
						<input type="file" name="fileToUpload" id="fileToUpload" required>
						<input type="submit" value="Upload Image" name="submit">
					</div>
				</fieldset>
				<div align="center">
					<button type="submit" class="btn btn-primary">Register</button>
				</div>
			</form>
		</div>
	</section>
	<!-- Footer -->
	<footer class="bg-dark navbar-dark">
		<div class="container-fluid text-center">
			WEconnect &copy; 2018.
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</script>
</body>

</html>
