footer {
    margin-top: 10px;
  }
  
  section {
    margin-top: 110px;
    height: 76.6vh;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  form {
    padding: 30px;
  }
  
  form p {
    margin-top: 10px;
  }
  
  #login-form .container {
    max-width: 500px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
  
  .form-group, .form-check {
    margin: 25px 0;
  }
  
  .btn, .form-control {
    border-radius: 0;
  }
  